
body {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    background-color: #3bdd50;
}

.game-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.road {
    width: 70%;
    height: 400px;
    background-color: #555;
    position: relative;
    overflow: hidden;
    background-image: url('download.jpg');
    background-size: contain;
    background-repeat: repeat-x;
    background-position: center;
    /* animation: moveBackground 1s linear infinite; */
}

.icons{
    height: 100px;
    width: 200px;
    background-color: #cb9696;
    display: flex;
    position: absolute;
    top: 298px;
    right: 20px;
    margin: 5px;
    border-radius: 10px;
}
.icons img{
    height: 100%;
    width: 100%;
   cursor: pointer;
}
span:hover{
    background-color: red;
}

.hand_brack_icon{
    margin-left: 13px;
    margin-top: 118px;
}

@keyframes moveBackground {
    from { background-position-x: 0; }
    to { background-position-x: -100%; }
}

.car {
    width: 600px;
    height: 232px;
    position: relative;
    top: 121px;
}

.carimage {
    height: 100%;
    width: 100%;
}

.control{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 245px;
    right: 62px;
    gap: 38px;
}
.control h2{
    color: brown;
    font-family: system-ui;
}




.video_first{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 17%;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    top: 109px;
}
.animetade_video video{
    width: 97%;
    height: 100%;
}
.video_second{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 12%;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    top: 106px;
}
